version: '3.8'

services:
  # grobid:
  #   image: grobid/grobid:0.8.2-crf
  #   container_name: grobid_server
  #   ports:
  #     - "8070:8070"
  #   restart: unless-stopped
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    restart: unless-stopped
    environment:
      - GROBID_CONFIG_PATH=/app/backend/app/grobid-config.docker.json
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped
